body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 45px;
}
.flex-box-contain{
    display: flex;
}
.color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-top: 5%;
}
.half-width img{
    width: 80%;
}
.first-div{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(168, 31, 54), rgb(153, 49, 67));
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(192, 125, 37), rgb(131, 57, 68));
    padding: 10px 40px;
    font-weight: 100;
    border-radius: 5px;
}
.mission{
    text-align: center;
}
.same-mission{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    border-radius: 10px;
}
.picture{
    width: 30%;
}
#Mission{
    background-color: rgb(154, 173, 154);
}
#Vission{
    background-image: linear-gradient(pink, rgb(172, 102, 114));
}
#Goals{
    background-color: rgb(201, 104, 69);
}
.bgpic{
    background-image: url(shapes/dream-bg.png);
    background-position: left;
    background-repeat: no-repeat;
} 
.last-section{
    text-align: center;
}
.programming{
    background-color: black;
}
.end-assign{
    text-align: center;
    color: white;
}